body{
    font-family: 'Open Sans', sans-serif;
}

h2{
    color: #026861;
    margin-bottom: 2px;
    margin-top: 4px;
}

p{
    font-size: 15px;
    margin-top: 2px;
}

label{
    font-size: 15px;
}

input, select{
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 2px;
    height: 20px;
}

textarea{
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 2px; 
}

.legenda-obrigatoriedade{
    font-size: 10px;
}

button{
    display: inline-block;
    background-color: #026861;
    color: white;
    border-color: #026861;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    width: 150px;
    height: 40px;
}

